.site-footer {
  background-color: transparent;
  border-top: none;

  .icon > svg path {
    fill: $success;
  }
}

.footer-heading {
  display: none;
}

.footer-col {
  font-size: 12px;
}

.social-media-list li {
  padding-bottom: 10px;
}
